################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs 
parts = part
[part]
name = part
recipe = minitage.recipe:cmmi
url = http://mirror.muntinternet.net/pub/gentoo/distfiles/cairomm-1.6.0.tar.gz

