################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
[part]
recipe = minitage.recipe.cmmi
url = http://cairographics.org/releases/cairomm-1.6.4.tar.gz
md5sum=63561c62536173a98f03005dfe55c90e

[mirrors]
gentoo = mirror.muntinternet.net/pub

